<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <listeners>
        <listener class-name="core.util.TestListener"/>
    </listeners>

    <test name="all tests">
        <classes>
            <class name="tests.TestNG.TestNgApiTest"/>
            <class name="tests.TestNG.TestNgLaunchesTest"/>
        </classes>
    </test>
</suite>